* {
  box-sizing: border-box;
  font-family: 'IBM Plex Mono';
}

.nav {
  a {
    color: #222222;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    margin-right: 16px;
    border-radius: 2px;
  }

  margin-bottom: 16px;
}
